<p-toast></p-toast>

<p-dataView #dv [value]="products" [paginator]="true" [rows]="20" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
            <p-dropdown [options]="sortOptions" placeholder="Sortiraj po imenu" (onChange)="onSortChange($event)"
                styleClass="mb-2 md:mb-0"></p-dropdown>
            <span class="p-input-icon-left mb-2 md:mb-0">
                <i class="pi pi-search"></i>
                <input type="search" pInputText placeholder="Search by Name"
                    (input)="dv.filter(applyFilterGlobal($event))">
            </span>
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem" style="">
        <div class="p-col-12" style="width: 100%;">
            <div class="product-list-item">
                <img src="{{product.image}}" alt="{{product.name}}">
                <div class="product-list-detail">
                    <div class="product-name">{{product.name}}</div>
                    <div class="product-description">{{product.description}}</div>
                    <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                    <i class="pi pi-tag product-category-icon"></i>
                    <span class="product-category">{{product.category.name}}</span>
                </div>
                <div class="product-list-action">
                    <span class="product-price">{{product.price | number :'.2'}} Eur</span>
                    <div class="buttons">
                        <button pButton pRipple icon="pi pi-paperclip"
                            class="p-button-rounded p-button-info p-button-outlined p-button p-component p-button-icon-only mr-2"
                            (click)="editSuggestedProducts(product)"></button>
                        <button pButton pRipple icon="pi pi-power-off"
                            class="p-button-rounded p-button-info p-button-outlined p-button p-component p-button-icon-only mr-2"
                            (click)="editDisableProduct(product)"></button>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editProduct(product)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                    </div>

                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
        <div class="col-12 md:col-3">
            <div class="product-grid-item card" [class.invisible]="product.invisible"
                [class.is-disabled]="product.disabled">
                <div class="product-grid-item-top">
                    <div>
                        <i class="pi pi-tag product-category-icon"></i>
                        <span class="product-category">{{product.category.name}}</span>
                    </div>
                    <div>
                        <button pButton pRipple icon="pi pi-paperclip"
                            class="p-button-rounded p-button-info p-button-outlined p-button p-component p-button-icon-only mr-2"
                            (click)="editSuggestedProducts(product)"></button>
                        <button pButton pRipple icon="pi pi-power-off"
                            class="p-button-rounded p-button-danger p-button-outlined p-button p-component p-button-icon-only"
                            (click)="editDisableProduct(product)"></button>
                    </div>
                </div>
                <div class="product-grid-item-content">
                    <img src="{{product.image}}" alt="{{product.name}}">
                    <div class="product-name">{{product.name}}</div>
                    <div class="product-description">{{product.description}}</div>
                    <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
                <div class="product-grid-item-bottom">
                    <span class="product-price">{{product.price | number :'.2'}} Eur</span>
                    <div class="product-list-action">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editProduct(product)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
<form [formGroup]="productForm">
    <p-dialog [(visible)]="productDialog" (onHide)="modalHide()" [style]="{width: '30vw'}" header="Detalji proizvoda"
        [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">

            <div class="field">
                <label for="name">Naziv</label>
                <input type="text" pInputText id="name" required autofocus formControlName="name" />
                <small class="p-error" *ngIf="!productForm.get('name')!.valid && productForm.get('name')!.touched">
                    Unesite naziv proizvoda
                </small>
            </div>
            <div class="field mt-2">
                <p-dropdown [options]="categoriesList" optionLabel="name" id="category" formControlName="category"
                    filterBy="name" [showClear]="true" placeholder="Kategorija">
                </p-dropdown>
                <small class="p-error"
                    *ngIf="!productForm.get('category')!.valid && productForm.get('category')!.touched">
                    Unesite kategoriju proizvoda
                </small>
            </div>
            <div class="field mt-2">
                <label for="description">Opis</label>
                <input type="text" pInputText id="description" formControlName="description" required autofocus />
                <small class="p-error"
                    *ngIf="!productForm.get('description')!.valid && productForm.get('description')!.touched">
                    Unesite opis proizvoda
                </small>
            </div>
            <div class="field mt-2">
                <label for="price">Cijena</label>
                <input type="number" pInputText id="price" formControlName="price" required autofocus />
                <small class="p-error" *ngIf="!productForm.get('price')!.valid && productForm.get('price')!.touched">
                    Unesite cijenu proizvoda
                </small>
            </div>
            <div class="field mt-2">
                <p-fileUpload #fileUpload mode="basic" accept="image/*" [maxFileSize]="10000000" label="Slika"
                    chooseLabel="Slika" (onSelect)="fileChangeHandler($event, fileUpload)"
                    class="p-mr-2 p-d-inline-block"></p-fileUpload>
            </div>
            <div class="field flex align-items-center mt-2">
                <p-inputSwitch formControlName="isAddon" inputId="isAddon"></p-inputSwitch>&nbsp;Prilog
            </div>
            <div class="field flex align-items-center mt-2">
                <p-inputSwitch formControlName="isFeatured" inputId="isFeatured"></p-inputSwitch>&nbsp;Promovisan?
            </div>
            <div class="field flex align-items-center mt-2">
                <p-inputSwitch formControlName="disabled" inputId="disabled"></p-inputSwitch>&nbsp;Nedostupan?
            </div>
            <div class="field flex align-items-center mt-2">
                <p-inputSwitch formControlName="invisible" inputId="invisible"></p-inputSwitch>&nbsp;Sakriven?
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton *ngIf="!editMode" [disabled]="!productForm.valid" pRipple label="Save" icon="pi pi-check"
                class="p-button-text" (click)="saveProduct()"></button>
            <button pButton *ngIf="editMode" [disabled]="!productForm.valid" pRipple label="Update" icon="pi pi-check"
                class="p-button-text" (click)="updateProduct()"></button>
        </ng-template>
    </p-dialog>
</form>
<p-dialog [(visible)]="suggestedProductsDialog" [style]="{'width': '60vw', 'min-height' : '50vh'}"
    header="Preporuceni proizvodi" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">
        <h5>Vezani proizvodi</h5>
        <span class="p-fluid">
            <p-autoComplete [(ngModel)]="selectedSuggestedProducts" [suggestions]="filteredSuggestedProducts"
                (completeMethod)="filterSuggestedProducts($event)" field="name" [multiple]="true">
            </p-autoComplete>
        </span>
        <h5>Vezani dodaci</h5>
        <span class="p-fluid">
            <p-autoComplete [(ngModel)]="selectedSuggestedAddons" [suggestions]="filteredSuggestedAddons"
                (completeMethod)="filterSuggestedAddons($event)" field="name" [multiple]="true">
            </p-autoComplete>
        </span>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton *ngIf="editMode" pRipple label="Update" icon="pi pi-check" class="p-button-text"
            (click)="updateSuggestedProducts()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="disableProductDialog" [style]="{'min-width': '30vw', 'min-height' : '30vh'}"
    header="Onemogući proizvod" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">
            <div class="grid">
                <div class="col-12">
                    <h5>Onemogući do:</h5>
                    <p-dropdown [options]="disabledDateOptions" [(ngModel)]="disabledDateInfo" placeholder="Izaberi..."
                        (onChange)="onDisabledChange()" appendTo="body" scrollHeight="300px" styleClass="mb-2 md:mb-0"></p-dropdown>
                </div>
                <div class="col-12">
                    <h5 *ngIf="customDate">Izaberi Datum</h5>
                    <p-calendar [style]="{'width':'70%'}"  *ngIf="customDate" [(ngModel)]="disabledDate" [showTime]="true"
                        [hourFormat]="'24'" [dateFormat]="'dd.mm.yy'" appendTo="body"></p-calendar>
                </div>
            </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Update" icon="pi pi-check" class="p-button-text"
        [disabled]="(customDate && !disabledDate) || !disabledDateInfo"
            (click)="updateDisabledDate()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>