<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="facilityTypes" [rows]="10" [paginator]="true" [globalFilterFields]="['name']"
         [rowHover]="true" dataKey="_id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Facility Types</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal(applyFilterGlobal($event), 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Naziv <p-sortIcon field="name"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-facilityType>
            <tr>
                <td>{{facilityType.name}}</td>
               
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editFacilityType(facilityType)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteFacilityType(facilityType)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Broj tipova:  {{facilityTypes ? facilityTypes.length : 0 }}
            </div>
        </ng-template>
    </p-table>
</div>


<form [formGroup]="facilityTypeForm">
<p-dialog [(visible)]="facilityTypeDialog" [style]="{width: '60vw'}" header="Tipovi objekta" [modal]="true" (onHide)="modalHide()"
    styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Naziv</label>
                <input type="text" pInputText id="name" formControlName="name" required autofocus />
                <small class="p-error"*ngIf="!facilityTypeForm.get('name')!.valid && facilityTypeForm.get('name')!.touched">Unesite tip objekta</small>
            </div>
        </ng-template>
 
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton *ngIf="!editMode" [disabled]="!facilityTypeForm.valid" pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="saveFacilityType()"></button>
            <button pButton *ngIf="editMode" [disabled]="!facilityTypeForm.valid" pRipple label="Update" icon="pi pi-check" class="p-button-text"
                (click)="updateFacilityType()"></button>
        </ng-template>   
</p-dialog>
</form>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>