<p-card>

    <div class="edit">
        <p-avatar icon="pi pi-pencil" shape="circle" size="xlarge" style="color: green;position:absolute;right:50px"></p-avatar>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-image src="{{facility.image}}"></p-image>
        </div>
        <div class="col-12 md:col-8">
            <div class="grid">
                <div class="col"><h2>{{facility.name}}</h2></div>
            </div>
            <div class="grid">
                <div class="col"><h3>{{facility.title}}</h3></div>
            </div>
            <div class="grid">
                <div class="col"><h5>{{facility.description}}</h5></div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-3">
           
            <div class="radnoVrijeme border-solid border-1 border-round p-3 border-200">
                <div class="grid">
                    <div class="col"> <h5>RADNO VRIJEME:</h5></div>
                    
                </div>
                <div class="grid">
                    <div class="col">{{facility.workingHours?.monday?.shorthand}}</div>
                    <div class="col">{{facility.workingHours?.monday?.openingHours | number:
                        '2.0'}}:{{facility.workingHours?.monday?.openingMinutes | number: '2.0'}}</div>
                    <div class="col">{{facility.workingHours?.monday?.closingHours | number:
                        '2.0'}}:{{facility.workingHours?.monday?.closingMinutes | number: '2.0'}}</div>
                </div>
                <div class="grid">
                    <div class="col">{{facility.workingHours?.tuesday?.shorthand}}</div>
                    <div class="col">{{facility.workingHours?.tuesday?.openingHours | number:
                        '2.0'}}:{{facility.workingHours?.tuesday?.openingMinutes | number: '2.0'}}</div>
                    <div class="col">{{facility.workingHours?.tuesday?.closingHours | number:
                        '2.0'}}:{{facility.workingHours?.tuesday?.closingMinutes | number: '2.0'}}</div>
                </div>
                <div class="grid">
                    <div class="col">{{facility.workingHours?.wednesday?.shorthand}}</div>
                    <div class="col">{{facility.workingHours?.wednesday?.openingHours | number:
                        '2.0'}}:{{facility.workingHours?.wednesday?.openingMinutes | number: '2.0'}}</div>
                    <div class="col">{{facility.workingHours?.wednesday?.closingHours | number:
                        '2.0'}}:{{facility.workingHours?.wednesday?.closingMinutes | number: '2.0'}}</div>
                </div>
                <div class="grid">
                    <div class="col">{{facility.workingHours?.thursday?.shorthand}}</div>
                    <div class="col">{{facility.workingHours?.thursday?.openingHours | number:
                        '2.0'}}:{{facility.workingHours?.thursday?.openingMinutes | number: '2.0'}}</div>
                    <div class="col">{{facility.workingHours?.thursday?.closingHours | number:
                        '2.0'}}:{{facility.workingHours?.thursday?.closingMinutes | number: '2.0'}}</div>
                </div>
                <div class="grid">
                    <div class="col">{{facility.workingHours?.friday?.shorthand}}</div>
                    <div class="col">{{facility.workingHours?.friday?.openingHours | number:
                        '2.0'}}:{{facility.workingHours?.friday?.openingMinutes | number: '2.0'}}</div>
                    <div class="col">{{facility.workingHours?.friday?.closingHours | number:
                        '2.0'}}:{{facility.workingHours?.friday?.closingMinutes | number: '2.0'}}</div>
                </div>
                <div class="grid">
                    <div class="col">{{facility.workingHours?.saturday?.shorthand}}</div>
                    <div class="col">{{facility.workingHours?.saturday?.openingHours | number:
                        '2.0'}}:{{facility.workingHours?.saturday?.openingMinutes | number: '2.0'}}</div>
                    <div class="col">{{facility.workingHours?.saturday?.closingHours | number:
                        '2.0'}}:{{facility.workingHours?.saturday?.closingMinutes | number: '2.0'}}</div>
                </div>
                <div class="grid">
                    <div class="col">{{facility.workingHours?.sunday?.shorthand}}</div>
                    <div class="col">{{facility.workingHours?.sunday?.openingHours | number:
                        '2.0'}}:{{facility.workingHours?.sunday?.openingMinutes | number: '2.0'}}</div>
                    <div class="col">{{facility.workingHours?.sunday?.closingHours | number:
                        '2.0'}}:{{facility.workingHours?.sunday?.closingMinutes | number: '2.0'}}</div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-3">
            <div class="info border-solid border-1 border-round p-3 mb-3 border-200">
                <div class="grid">
                    <div class="col-2"><i class="pi pi-mobile"></i></div>
                    <div class="col-10">{{facility.phone}}</div>
                </div>
                <div class="grid">
                    <div class="col-2"><i class="pi pi-home"></i></div>
                    <div class="col-10">{{facility.city}}</div>
                </div>
                <div class="grid">
                    <div class="col-2"><i class="pi pi-map-marker"></i></div>
                    <div class="col-10">{{facility.address}}</div>
                </div>
            </div>
            <div class="info border-solid border-1 border-round p-3 border-200">
                <div class="grid">
                    <div class="col-2"><i class="pi pi-clock"></i></div>
                    <div class="col-10">Vrijeme dostave <br><b>{{facility.deliveryTime?.from}}-{{facility.deliveryTime?.to}} min</b></div>
                </div>
            </div>
        </div>
    </div>
</p-card>
