<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <p-toast></p-toast>
    <form
        [formGroup]="authForm"
        (ngSubmit)="onSubmit()"
        class="surface-card p-4 shadow-2 border-round w-11 md:w-5 lg:w-3 flex flex-column  align-items-center justify-content-center"
    >
        <div class="formgrid grid w-full">
            <div class="field col">
                <label for="username">USERNAME:</label>
                <input
                    id="username"
                    type="text"
                    formControlName="username"
                    pInputText
                    class="p-inputtext p-component p-element  p-2 w-full"
                >
                <small
                    id="username-help" class="p-error"
                    *ngIf="!authForm.get('username')?.valid && authForm.get('username')?.touched"
                >
                    Username neophodan
                </small>

            </div>
        </div>
        <div class="formgrid grid w-full">
            <div class="field col">
                <label for="password">PASSWORD:</label>
                <input
                    id="password"
                    type="password"
                    formControlName="password"
                    class="p-inputtext p-component p-element  p-2 w-full"
                >
                <small
                    id="pasword-help" class="p-invalid"
                    *ngIf="!authForm.get('password')?.valid && authForm.get('password')?.touched"
                >
                    Password neophodan
                </small>
            </div>
        </div>
        <div class="formgrid grid w-full">
            <div class="field col">
                <button pButton pRipple label="Sign In" [disabled]="!authForm.valid" icon="pi pi-user" class="w-full" type="submit"></button>
            </div>
        </div>
       
    </form>
</div>