<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <form
        [formGroup]="authForm"
        (ngSubmit)="onSubmit()"
        class="surface-card p-4 shadow-2 border-round w-11 md:w-5 lg:w-3 flex flex-column  align-items-center justify-content-center"
    >
        <div class="formgrid grid w-full">
            <div class="field col">
                <label for="username">USERNAME:</label>
                <input
                    id="username"
                    type="text"
                    formControlName="username"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                >
            </div>
        </div>
        <div class="formgrid grid w-full">
            <div class="field col">
                <label for="password">PASSWORD:</label>
                <input
                    id="password"
                    type="password"
                    formControlName="password"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                >
            </div>
        </div>
        <div class="formgrid grid w-full">
            <div class="field col">
                <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full" type="submit"></button>
            </div>
        </div>
       
    </form>
</div>