<p-table selectionMode="single" [(selection)]="selectedOrder" #dt1 responsiveLayout="scroll" [value]="orders" (onLazyLoad)="loadOrders($event, $any(dt1).filters)" [lazy]="true" dataKey="_id"
    [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25, 50, 100]" [loading]="loading"
    styleClass="p-datatable-customers p-datatable-gridlines" [totalRecords]="totalRecords" [paginator]="true"
    currentPageReportTemplate="{first}-{last} od {totalRecords} narudžbi">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel($any(dt1).filters)"
                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <div  *ngIf="ordersTotal" class="totalLabel">
                <h3>Ukupno: {{ordersTotal.toFixed(2)}} Eur</h3>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>

            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Objekat
                    <p-columnFilter *ngIf="facilities" field="facility" matchMode="equals" [hideOnClear]="true"
                        [matchModeOptions]="statusMatchModeOptions" display="row">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown  [ngModel]="value" [options]="facilities" optionLabel="name" optionValue="_id" (onChange)="filter($event.value)"
                                placeholder="Izaberi">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option._id">{{option.name}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th>Ime</th>
            <th>Adresa</th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Total
                    <p-columnFilter type="numeric" field="totalPrice" [hideOnClear]="true"
                        [matchModeOptions]="totalPriceMatchModeOptions" display="menu" currency="EUR"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Datum kreiranja
                    <p-columnFilter type="date" field="dateCreated" [hideOnClear]="true"
                        [matchModeOptions]="dateMatchModeOptions" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Status
                    <p-columnFilter field="status" matchMode="equals" [hideOnClear]="true"
                        [matchModeOptions]="statusMatchModeOptions" display="row">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                placeholder="Izaberi">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template *ngIf="orders" pTemplate="body" let-order>
        <tr style="cursor: pointer;" (click)="selectOrder(order)" [pSelectableRow]="order">
            <td>{{order.facility.name}}</td>
            <td>{{order.user.name}}</td>
            <td>{{order.address}}</td>
            <td>{{order.totalPrice.toFixed(2)}} Eur</td>
            <td>{{order.dateCreated | date:'dd.MM.YY HH:mm'}}h</td>
            <td>{{order.status}}</td>
        </tr>
    </ng-template>
</p-table>